@import "vars";
@import "libs";
@import "fonts";
@import "global"; //импортировали глобальные стили

// вставим фоновую картинку
.header {
	position: relative;
	height: 100vh;
}
.header__slider {
	&-item {
		height: 100vh;
		background-image: url(../images/header-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover; //Масштабирует картинку (так, чтобы она накрыла собой весь блок с сохранением пропорций)
		background-position: center; //задает местоположение фоновой картинки элемента (по центру)
		position: relative; //Относительное позиционирование(указывается в элементе(родителе),относительно которого позиционируем)
	}
}

.slider-item__info {
	position: absolute; //Абсолютное позиционирование(позиция наследника относительно родителя)
	right: 80px;
	bottom: 116px;
	text-align: right; //Текст будет выровнен по правому краю
}

.slider-item__info-suptitle {
	margin-bottom: 5px;
}

.slider-item__info-suptext {
	margin-bottom: 8px;
}

.slider-item__info-title {
	font-size: 80px;
	line-height: 86px;
	font-weight: 800;
	margin-bottom: 48px;
}

.slider-item__info-text {
	font-weight: 800;
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 20px;
}

.slider-arrows {
	//для стелочек слайдера(общее)
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer; //чтобы показать, что элемент является активным и на него можно нажимать
	z-index: 4;
}

.slider-arrows__left {
	right: 125px;
}

.slider-dotshead {
	position: absolute;
	right: 50px;
	bottom: 36px;
	max-width: 920px;
	width: 100%;
	.slick-current {
		.dots-box {
			border-top: 4px solid $green; // цвет полоски меняется при переключении экранов главного слайдера
		}
	}
}

.dots-box {
	width: 200px;
	display: flex;
	justify-content: space-between;
	height: 28px;
	align-items: center; //Блоки стоят по центру поперечной оси
	border-top: 4px solid #fff;
	padding-top: 6px;
	&__number {
		font-weight: 800;
		font-size: 24px;
		line-height: 34px;
	}
	&__name {
		font-weight: 300;
		line-height: 19px;
		text-transform: capitalize; // Только первая буква в слове большая
	}
}

.header__aside {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	border-right: 1px solid rgba(#fff, 0.25); // указали вертикальную черту бокового меню
	height: 100vh;
	text-align: center; // Текст будет выровнен по центру
}

.header__title {
	font-weight: 800;
	font-size: 200px;
	line-height: 156px;
	opacity: 0.07;
	min-width: 467px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.menu {
	padding-top: 40px;
	a {
		span {
			display: block;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 3px;
			padding-top: 6px;
			margin-bottom: 20px;
			text-transform: capitalize; // Только первая буква в слове большая
		}
	}
}

.header__date {
	font-weight: 800;
	font-size: 72px;
	line-height: 64px;
	span {
		padding-top: 15px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
		display: block;
	}
}

.header__search {
	padding-top: 15px;
	padding-bottom: 35px;
}

.header__location {
	display: inline-block; //делаем элемент строчно-блочным
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.05px;
	position: relative;
	padding-left: 19px;
	text-transform: capitalize; // Только первая буква в слове большая
	&::before {
		content: "";
		position: absolute;
		width: 11px;
		height: 13px;
		background-image: url(../images/marker.svg);
		left: 0;
		top: 0;
	}
}

.header__map {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.header__arrows {
	position: absolute;
	left: 210px;
	bottom: 30px;
	z-index: 3;
}

// анимация пути движения от точки к точке
.line-animation {
	stroke-dashoffset: 600;
	stroke-dasharray: 600;
	animation: animdash 10s infinite 5s;
}

@keyframes animdash {
	to {
		stroke-dashoffset: 0;
	}
}

// зададим общие стили для секции второго слайдера(экрана)
.surf {
	padding: 160px 0 120px;
	background-image: url(../images/surf-bg.png); // прописали фоновую картинку и ниже задали ёё свйства:
	background-position: right 200px;
	background-repeat: no-repeat;
	background-size: auto; // Фон будет иметь натуральный размер, такой, как реальный размер картинки фона
}

.surf__subtitle {
	text-align: right; // Текст будет выровнен по правому краю
	padding-right: 80px;
	margin-top: -86px;
}

.surf-slider {
	padding-top: 110px;
	.slider-arrows {
		//внутренняя вложенность прописана в main.js
		top: 50px;
		opacity: 0.5;
	}

	// реализуем смещение картинок(слайдов): каждого 4-го, начиная с 1-го
	.slick-slide:nth-child(4n + 1) {
		.surf-box {
			margin-top: 32px;
		}
	}

	// реализуем смещение картинок(слайдов): каждого 4-го, начиная с 3-го
	.slick-slide:nth-child(4n + 3) {
		.surf-box {
			margin-top: 89px;
		}
	}
	// запишем условвие: кнопка видна только у активного слайда(картинки)
	.slick-current {
		.surf-box__inner-btn {
			display: block;
		}

		// условие: активный слайд(картинка) становится ярче (имеет другую прозрачность)
		.surf-box__inner {
			background: rgba(#1c2121, 0.3);
		}
	}
}

.surf-box {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__inner {
		min-height: 750px; // Масштабирует картинку так, чтобы она накрыла собой весь блок с сохранением пропорций
		background: rgba(#1c2121, 0.85);
		position: relative;
		transition: all 0.5s;

		// при наведении слайд(картинка) осветляется и проявляется кнопка
		&:hover {
			background: rgba(#1c2121, 0.5);

			.surf-box__inner-btn {
				display: block;
			}
		}
	}
}

.surf-box__inner-title {
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	padding: 72px 0 0 40px;
	width: 140px;
}

.surf-box__inner-location {
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
	transform: rotate(-90deg); //задали вращение
	position: absolute;
	left: 40px;
	bottom: 80px;
	width: 0;
	height: 0;
	white-space: nowrap; // Запрещает тексту переносится на другую строку
	span {
		font-weight: 100;
	}
}

.surf-box__inner-btn {
	bottom: 0;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	display: none; // кнопка не видна пока её слайд(картинка) не активна
}

@import "media";
